nav > ul > li {
    display: inline-block;
    /* display: flex; */
    margin: 20px;
    font-size: 20px;
}

nav li > a {
    text-decoration: none;
}

nav li:hover{
     background-color: lightgrey;
}


footer {
    text-align: center;
}